<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <a href="@Url.Action("index","home")">Home</a>
        <a href="@Url.Action("about","home")">About</a>
        <a href="@Url.Action("contact","home")">Contact</a>
        <a href="@Url.Action("allUsers","admin")">All Users</a>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
